header {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0px;
  background-color: blanchedalmond;
}
.nav-scroll {
  min-height: 10vh;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav h4,
nav ul {
  font-size: 1rem;
}

.menu-list-scroll {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
nav a {
  color: black;
  text-decoration: none;
  margin: 10px;
  text-align: center;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section h2 {
  font-size: 5rem;
  color: whitesmoke;
}
.bubble {
  background: linear-gradient(to right top, #12c2e962, #c471ed, #f64f59);
}
.sliding {
  background: linear-gradient(to right top, #b92b27, #1565c0, #f64f59);
}
.scroll {
  background: linear-gradient(to right top, #40e0d0, #ff8c00, #ff0080);
}
.bglink {
  position: absolute;
  z-index: -2;
  background: linear-gradient(to right top, #12c2e962, #c471ed, #f64f59);
  transform: scale(1.2);
  transition: all 0.5s ease;
}
